*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
}
.nav-bar .logo img{
    width: 280px;
    height: 40px;
}
.nav-links{
    display:flex;
    gap: 40px;
    margin-right: 50px;
}
.nav-links .contact{
    font-weight: bold; 
    font-size: 17px;
    letter-spacing: 0%;
    color: #444B51;
    margin-top: 11px;
    
}
.nav-links button{
    border-radius: 21.5px;
    background-color: #E24329;
    border: none;
    color: #fff;
    font-weight: 700;
    padding: 5px 14px;
    width: 110px;
    height: 40px;
}
.menu-bar{
    display: none;
}
.earth-icon{
    display: flex;
}
.nav-links .earth-icon img{
    margin-top: 10px;
    width: 30px;
}
h4{
    margin-top: 15px;
    margin-left: 10px;
    color: #828282;
}
/*The hero section*/
.container{
    background-color: #E24329;
    position: relative;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.layer-1{
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    position: absolute;
    top:70px;

}
.background-img img{
    width:100%;
    height: 530px;

    position: relative;
}

.layer-3{
    font-size: 45px;
    color: #fff;
    font-weight: bold;
    line-height: 55px;
    margin-top: 25px;
       
}
.layer-2 .layer-4{
    font-size: 15.5px;
    font-weight: lighter;
    color: #fff;
    margin-top: 18px;
}
.layer-2 .layer-4 p{
    line-height: 24px;
    letter-spacing: 0%;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #e7d9d8;
    border-radius: 30px;
    margin-top: 27px;
    width: 490px;
}
input{
    flex: 1;
    border: none;
    background: transparent;
    padding: 15px 45px;
    font-size: 13px;
    outline: none;
    
}
button{
    
    border: none;
    outline: none;
    background: #FF6A00;
    padding: 15px 45px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.layer-1 .bonik-delivery-img img{
    width: 500px;
    position: absolute;
    top: -5px;
    right: -350px;
}
/* The Rectangles*/
.sub-container{
    gap: 60px;
    position: absolute;
    top: 75%;
    padding: 100px;
}
/*Rectangle 1*/
.sub-container .pick-n-drop {
    display: flex;
    background: #fff;
    width: 220px;
    height: 70px;
    border-radius: 10px;
    position: absolute;
    box-shadow: 0px 5px 5px rgb(0, 0, 0, 0.1);
    
}
.sub-container .pick-n-drop .booking{
    padding:20px 0px;
    line-height: 19px;
}
.sub-container .pick-n-drop img{
    width: 80px;
    padding: 15px;
}
.sub-container .pick-n-drop .booking .bk{
    font-size: 11px;
    color: #444B51;
}
.sub-container .pick-n-drop .booking .pick{
    font-size: 15px;
    font-weight: bold;
}
/*Rectangle 2*/
.sub-container .cash-on-delivery {
    display: flex;
    background: #fff;
    width: 220px;
    height: 70px;
    border-radius: 10px;
    
    position: absolute;
    right: -197%;
    box-shadow: 0px 5px 5px rgb(0, 0, 0, 0.1);
}

.sub-container .cash-on-delivery img{
    width: 80px;
    padding: 15px;
}
.sub-container .cash-on-delivery .booking .bk{
    font-size: 15px;
    font-weight: bold;
    padding: 25px 0px;
}
/*Rectangle 3*/
.sub-container .delivery-hub-icon {
    display: flex;
    background: #fff;
    width: 220px;
    height: 70px;
    border-radius: 10px;
    position: absolute;
    right: -335%;
    box-shadow: 0px 5px 5px rgb(0, 0, 0, 0.1);
}
.sub-container .delivery-hub-icon img{
    width: 70px;
    padding:15px;
}.sub-container .delivery-hub-icon .booking{
    padding:20px 5px;
    line-height: 19px;
}

.sub-container .delivery-hub-icon .booking .bk{
    font-size: 11px;
    color: #444B51;
}
.sub-container .delivery-hub-icon .booking .pick{
    font-size: 15px;
    font-weight: bold;
}
/*Rectangle 4*/
.sub-container .sme-icon {
    display: flex;
    background: #fff;
    max-width: 260px;
    height: 70px;
    border-radius: 10px;
    
    position: absolute;
    right: -460%;
    box-shadow: 0px 5px 5px rgb(0, 0, 0, 0.1);
}
.sub-container .sme-icon .booking{
    padding:20px 5px;
    line-height: 24px;
}
.sub-container .sme-icon img{
    width: 71px;
    padding: 15px;
}
.sub-container .sme-icon .booking .bk{
    font-size: 11px;
    color: #444B51;
}
.sub-container .sme-icon .booking .pick{
    font-size: 15px;
    font-weight: bold;
}

.message{
    display: flex;

}
.layout-1{
    text-align: center;
    margin-top: 120px;
}
.layout-1 .layout-1a{
    font-size: 40px;
    font-weight: bold;
}
.layout-1 .layout-1b{
    font-size: 16px;
    color: #444B51;
    margin-top: 20px;
}
/* GRID ITEMS*/
.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 200px);
    gap: 25px;
    width: 1030px;
    margin: 40px 100px;
}
.grid-item-1{
    background: #FFF3EB;
    border-radius: 16px;
    cursor: pointer;
}
.grid-item-1:hover{
    background-color: #fcf9f7;
    transform: scale(1.05);
}
.grid-item-1 img{
    width: 50px;
    margin-top: 35px;
    margin-left: 135px;
}
.industry{
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    margin-top: 25px;
}
.delivery{
    font-size: 12px;
    padding: 15px 55px;
    line-height: 17px;
}
.grid-item-2{
   background: #ECEDFF;
   border-radius: 16px; 
   cursor: pointer;
}
.grid-item-2:hover{
    background-color: #FFF3EB;
    transform: scale(1.05);
}

.grid-item-2 img{
    width: 55px;
    margin-top: 35px;
    margin-left: 135px;
}
.grid-item-3{
    background: #FFECF1;
    border-radius: 16px;
    cursor: pointer;
}
.grid-item-3:hover{
    background-color: #F6F6F6;
    transform: scale(1.05);
}
.grid-item-3 img{
    width: 60px;
    margin-top: 35px;
    margin-left: 135px;
}
.grid-item-4{
    background: #F6F6F6;
    border-radius: 16px;
    cursor: pointer;
}
.grid-item-4:hover{
    background-color: #F6F6F6;
    transform: scale(1.05);
}
.grid-item-4 img{
    width: 50px;
    margin-top: 35px;
    margin-left: 135px;
}
.grid-item-5{
    background: #FFFAEC;
    border-radius: 16px;
    cursor: pointer;
}
.grid-item-5:hover{
    background-color: #F6F6F6;
    transform: scale(1.05);
}
.grid-item-5 img{
    width: 60px;
    margin-top: 35px;
    margin-left: 135px;
}
.grid-item-6{
    background: #FFF3EB;
    border-radius: 16px;
    cursor: pointer;
}
.grid-item-6:hover{
    background-color: #F6F6F6;
    transform: scale(1.05);
}
.grid-item-6 img{
    width: 45px;
    margin-top: 35px;
    margin-left: 135px;
}
.grid-item-7{
    background: #EEFFF3;
    border-radius: 16px;
    cursor: pointer;
}
.grid-item-7:hover{
    background-color: #F6F6F6;
    transform: scale(1.05);
}
.grid-item-7 img{
    width: 52px;
    margin-top: 35px;
    margin-left: 135px;
}
.grid-item-8{
    background: #FFECF1;
    border-radius: 16px;
    cursor: pointer;
}.grid-item-8:hover{
    background-color: #F6F6F6;
    transform: scale(1.05);
}
.grid-item-8 img{
    width: 45px;
    margin-top: 35px;
    margin-left: 135px;
}
.grid-item-9{
    background: #ECEDFF;
    border-radius: 16px;
    cursor: pointer;
}
.grid-item-9:hover{
    background-color: #F6F6F6;
    transform: scale(1.05);
}
.grid-item-9 img{
    width: 50px;
    margin-top: 35px;
    margin-left: 135px;
}
/* Delivery image 02*/
.layout-2{
    display: flex;
    margin-left: 110px;
}
.delivery-img-02 img{
    width: 600px;
    margin-top: 20px;
}
.layout-2a .ambassador{
    font-weight: bold;
    font-size: 40px;
    margin-top: 150px;
}
.layout-2a .pgraph{
    margin-top: 30px;
    line-height: 26px;
}
.layout-2a .pgraph p{
    font-size: 16px;
    color: #444B51;
}
.layout-2a .btn{
    width: 180px;
    height: 50px;
    border-radius: 30px;
    background-color: #E24329;
    margin-top: 30px;
    font-weight: bolder;
}
.layout-3{
    margin-left: 230px;
    margin-top: 70px;
}
.layout-3a .layout-3a1{
    font-weight: bold;
    font-size: 40px;
    color: #444B51; 
}
.layout-3a .layout-3a2{
    font-size: 17px;
    text-align: center;
    margin-right: 280px;
    margin-top: 30px;
    line-height: 28px;
    color: #444B51;
}
.layout-3b{
    margin-top: 80px;
}
.layout-3b1{
    display: flex;
    gap: 40px;
}
.layout-3b1 .bonik{
    font-weight: bold;
    font-size: 18px;
    color: #444B51;
}
.layout-3b1 .tech{
    font-size: 15px;
    color: #444B51;
    line-height: 26px;
    margin-top: 26px;
}
.layout-3b1{
    border-bottom: 2px solid #BDBDBD;
    padding-bottom: 10px;
    width: 800px;
}
.layout-3b1 img{
    width: 28px;
}

.layout-3c1{
    margin-top: 30px;
}
.vector{
    display: flex;
    gap: 40px;
    margin-top: 30px;
    font-size: 18px;
    font-weight: bold;
    color: #444B51;
    border-bottom: 2px solid #BDBDBD;
    align-items: center;
    padding-bottom: 20px;
    width: 800px;
}
.vector img{
    width: 28px;
}
.faq{
    color: #E24329;
    font-size: 18px;
    font-weight: bold;
    margin-left: 300px;
    margin-top: 40px;
    line-height: 26px;
}
.faq img{
    width: 16px;
}
.layout-4a{
    font-size: 40px;
    font-weight: 700;
    color:#444B51;
    margin-top: 100px;
    margin-left: 500px;
}
ul{
    display: flex;
    list-style: none;
    gap: 100px;
    padding: 65px 120px;
}
.logos ul a img{
    width: 80px;
}



/*Responsiveness (tablet and desktop)
@media(min-width: 768px){
    .nav-links{
        display: flex;
        flex-direction: row;
        background: none;
        box-shadow: none;
        position: absolute;
        top: 4px;
        left: 95%;
    }
    .nav-bar{
        box-shadow: none;
    }
    .menu-bar{
        display: none;
    }
    .nav-bar .logo img{
        width: 180px;
        height: 35px;
    }
    .background-img img{
        
    }

 
}
*/